.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
  }
  

.row {
    display: flex;
    padding: 3rem
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
  
  }