* {
    box-sizing: border-box;
  }
  
.row {
    display: flex;
  }

  .column1 {
    flex: 33%;
    padding: 10px;
    text-align: center;
  }

  .column2 {
    flex: 33%;
    padding: 10px;
    text-align: center;
  }

  .column3 {
    flex: 33%;
    padding: 10px;
    text-align: center;
  }

  .box-result {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-radius: 12px;
    margin: 10px;
    padding: 15px;
    height: 13rem;
    background-color: aliceblue;
    background: rgba(204, 204, 204, 0.5);
  }

  .header-box {
    display: flex;
    justify-content: center;
  }

  .search-box {
    height: 4.5rem;
  }

  .add-btn {
    margin-top: 10px;
  }
