* {
    box-sizing: border-box;
  }
  

.row {
    display: flex;
    padding: 3rem
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    text-align: center;
  }

  .box-result {
    display: flex;
    flex-direction: column;
    padding: 1 rem;
    border: solid;
    background-color:lightgray;
  }