.DropDown{
  float: inline-end;
}

.nav{
  margin-left: 16px;
}

.nav-home{
  text-align: center;
}

.nav-right{
  justify-content: center;
  
}

.App{
  text-align: center;
  justify-content: center;
  display:flex;
  width: 100%;

}

.navbar{
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  text-indent: 30px;
}

