.profiledropdown {
    position: absolute;
    top: 100%;
    right: 0%;
    padding:  0.125em 0.25em;
    display: none;
}

.profile:focus-within .profiledropdown,
.profile:hover .profiledropdown{
    display: block;
}
